 <html>
	<head>
	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="/static/css/all.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.index.css">
		

	</head>
	<body>
		<div class="header_fixed" style="">
			<div class="logo_default" onclick="window.location='/'">
			</div>
		</div>
		<div class="header_placeholder" style="">
		</div>
		<div class="column_container" style="">
			<div class="second_column" style="">
				<div class="enter_tagline" style="">
					<span class="text_lang en">Invest in ideas with your friends</span>
					<span class="text_lang fr" style="display:none;">Investissez dans des id&eacute;es avec vos amis</span>
				</div>
				<div class="enter_btn" style=""
				onclick="window.location='/research'">
					Enter
				</div>
			</div>
		</div>
		<script src="/static/js/utils/library/jquery-3.2.0.min.js"></script>
		<script src="/static/js/utils/library/mustache.js"></script>
		<script src="/static/js/utils/utils.common.js"></script>
		<script>
			fill_logo()
		</script>
		
	</body>
</html>