 <html>
	<head>
	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="/static/css/all.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.index.css">
		

	</head>
	<body>
		
	</body>
	<script src="/static/js/utils/library/jquery-3.2.0.min.js"></script>
	<script src="/static/js/utils/library/mustache.js"></script>
	<script src="/static/js/utils/library/mithril.js"></script>
	<script src="/static/js/utils/utils.js"></script>
	<script src="/static/js/utils/utils.common.js"></script>
	<script src="/static/js/utils/utils.template.js"></script>
	
	<script src="/static/page/research/js/news_analysis.js"></script>
	<script src="/static/page/research/js/index_newsdrill.js"></script>
	<script src="/static/js/index.js"></script>
	<script>
		
	</script>
	
</html>